<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="<%albumName%>" />
	<title><%albumName%> / <%albumDate%> </title>

	<link rel="stylesheet" type="text/css" href="../highslide/highslide.css"/>
	<script type="text/javascript" src="../highslide/highslide-with-gallery.packed.js"></script>
	<script type="text/javascript">
		hs.graphicsDir = '../highslide/graphics/';
		hs.align = 'center';
		hs.transitions = ['expand', 'crossfade'];
		hs.outlineType = 'rounded-white';
//		hs.wrapperClassName = 'controls-in-heading dark';
		hs.fadeInOut = true;
		//hs.dimmingOpacity = 0.75;

		// Add the controlbar
		if (hs.addSlideshow) hs.addSlideshow({
			//slideshowGroup: 'group1',
			interval: 5000,
			repeat: false,
			useControls: true,
			fixedControls: true,
			overlayOptions: {
				opacity: 0.6,
				position: 'top center',
				hideOnMouseOut: true
			}
		});
	</script>
	<script type="text/javascript" src="/ga.js"></script>
</head>

<body class="dark">


<div id="highslide-container"></div>

<div id="container">
	<h1><%albumName%></h1>

	<div id="description">
		<strong><%albumDate%> / <%albumItemCount%> images</strong>
		<br />
		<%albumCaption%> 
	</div>

<div id="thumbcontainer" class="highslide-gallery">
<!-- end of header section -->

