<a href="<%itemLargeImage%>" class="highslide" title="<%itemCaption%>" onclick="return hs.expand(this)">
	<div class="imgcontainer" style="background-image:url(<%itemThumbnailImage%>);" ></div>
</a>
<div class="highslide-caption"><%itemCaption%></div>
